---
{% for instance in instances %}
{% if instance.member_mycat_pkg is undefined %}
{% set mycat_pkg = "mycat.tar.gz" %}
{% elif instance.member_mycat_pkg %}
{% set mycat_pkg = "member-mycat.tar.gz" %}
{% endif %}
- name: install mycat_pkg
  unarchive:
    src: [[ mycat_pkg ]]
    dest: "{{ common_home_path }}"

# 使用copy慢，转而使用synchronize+file模块完成copy的目标。
- name: rename mycat directory to install mycat directory
  synchronize:
    src: "{{ common_home_path }}/mycat/"
    dest: "{{ common_home_path }}/[[ instance.instance ]]_mycat"
    owner: 0
    group: 0

- name: chown mycat directory
  file:
    path: "{{ common_home_path }}/[[ instance.instance ]]_mycat"
    owner: "{{ common_user }}"
    group: "{{ common_group }}"
    recurse: yes

- name: delete mycat directory
  file:
    path: "{{ common_home_path }}/mycat"
    state: absent

- name: generate mycat configuration
  template:
    src: "[[ instance.instance ]]/{{ item.src }}'"
    dest: "[[ instance.instance ]]_mycat/conf/'{{ item.dest }}'"
    owner: "{{ common_user }}"
    group: "{{ common_group }}"
  with_items:
    - { src: rule.xml, dest: rule.xml }
    - { src: schema.xml, dest: schema.xml }
    - { src: server.xml, dest: server.xml }
{% if instance.member_mycat_pkg is defined and instance.member_mycat_pkg %}
    - { src: sequence_db_conf.properties, dest: sequence_db_conf.properties }
{% endif %}

- name: restart mycat instance
  shell: cd [[ instance.instance ]]_mycat/bin && ./mycat restart



{% endfor %}