[Unit]
Description=gor replay service
After=network.target
Documentation=https://github.com/buger/goreplay

[Service]
User=root
Group=root
Type=simple
WorkingDirectory={{ gor_record_traffic_dir }}/{{ gor_record_app}}
ExecStart=/usr/local/bin/gor --input-tcp {{ ansible_default_ipv4.address }}:{{ gor_record_port }} --output-file {{ gor_record_traffic_dir }}/{{ gor_record_app}}/{{ gor_record_app }}-%%Y-%%m-%%d_%%H.log --output-file-queue-limit 0 --output-file-append

[Install]
WantedBy=multi-user.target
