#!/bin/bash

nohup /usr/local/bin/gor --input-tcp {{ ansible_default_ipv4.address }}:{{ gor_replay_host_port }} --output-file {{ gor_traffic_dir }}/{{ app_name }}-%Y-%m-%d_%H.log --output-file-queue-limit 0 --output-file-append &> /tmp/start_gor_replay.log &