---
- name: {{ item.host }}
  hosts: {{ item.host }}
  user: root
  vars:
    - redis_standalone_role: true
  roles:
    - role: redis
      vars:
        - is_install_redis: {{ item.is_install_redis }}
        - redis_version: "{{ item.redis_version }}"
        - redis_port: {{ item.redis_port }}
        - redis_password: "{{ item.redis_password }}"