global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     65535
    user        haproxy
    group       haproxy
    daemon
    stats       socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param   2048

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor  except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           3s
    maxconn                 65535
    compression algo gzip
    compression type text/html text/plain text/css application/javascript application/json application/xml

# 2020/09/27 -- 监听stats，设置为固定即可。
listen tcp-stats
    bind 0.0.0.0:5001
    mode http
    log global
    stats refresh 30s
    stats uri /stats
    stats realm Private lands
    stats auth freedom:Haproxy007@freedom.org
    stats hide-version

listen tcp-80-ingress-nginx
    mode tcp
    option tcplog
    bind 0.0.0.0:80
    balance source
    server master.k8s.freedom.org master.k8s.freedom.org:30573 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:30573 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:30573 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:30573 check

listen tcp-443-ingress-nginx
    mode tcp
    option tcplog
    bind 0.0.0.0:443
    balance source
    server master.k8s.freedom.org master.k8s.freedom.org:31933 check
    server worker01.k8s.freedom.org worker01.k8s.freedom.org:31933 check
    server worker02.k8s.freedom.org worker02.k8s.freedom.org:31933 check
    server worker03.k8s.freedom.org worker03.k8s.freedom.org:31933 check


