{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
ns01    A   {{ ansible_default_ipv4.address }}

; drill-gor环境下，记录云各应用的主机地址。
opencenter-api      A   10.8.61.51
member-ms           A   10.8.61.98
coupon-ms           A   10.8.61.142
trade-ms            A   10.8.61.123
center-dm           A   10.8.61.136
account-ms          A   10.8.61.65