{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
ns01    A   {{ ansible_default_ipv4.address }}

common           NS  ns01.common.{{ domain_name }}.
ns01.common      A   {{ ansible_default_ipv4.address }}

customer           NS  ns01.customer.{{ domain_name }}.
ns01.customer      A   {{ ansible_default_ipv4.address }}

db          NS  ns01.db.{{ domain_name }}.
ns01.db     A   {{ ansible_default_ipv4.address }}

eshop           NS  ns01.eshop.{{ domain_name }}.
ns01.eshop      A   {{ ansible_default_ipv4.address }}

member           NS  ns01.member.{{ domain_name }}.
ns01.member      A   {{ ansible_default_ipv4.address }}

mycat           NS  ns01.mycat.{{ domain_name }}.
ns01.mycat      A   {{ ansible_default_ipv4.address }}


; drill-gor环境下，记录生产域名指向腾讯云的SLB地址。
; 电商入口
pagoda-buy-acc      A   10.8.61.64
api.sale            A   10.8.61.138
wx-mini             A   10.8.61.53
app-customer        A   10.8.61.71
wx-mini-ems         A   10.8.61.132
wx-bgxx-ems         A   10.8.61.15
sale-api-ems        A   10.8.61.37
h5-web              A   10.8.61.137

; EOMS入口，一个slb，根据主机头名字转发到各个服务。
api.oms             A   10.8.61.26
oms-api             A   10.8.61.26
intf.oms            A   10.8.61.26
int.oms             A   10.8.61.26

; EOMS其他主机，需要每次更新A记录。(EOMS没有单独做个子域，所以写到这里了。)
cli.oms                         A   10.8.61.22
beanstalkd.oms                  A   10.8.61.22



