---
{# 设置master最少存活数，先统计有多少个实例。elasticsearch_hosts变量为list时，不能用于cluster_hosts变量的值，因为字符串显示unicode编码。#}
{# 将各个elasticsearch节点写入到变量elasticsearch_hosts变量中，这个用于配置文件中。#}
{% set elasticsearch_hosts = item.hosts %}

{% set elasticsearch_minimum_master_nodes = elasticsearch_hosts | length / 2 + 1 %}

{% set elasticsearch_minimum_master_nodes = elasticsearch_minimum_master_nodes | int %}

{# 将各个elasticsearch节点写入到变量elasticsearch_hosts变量中，这个用于配置文件中。#}
{% set elasticsearch_hosts_str = elasticsearch_hosts | join(', ') %}

{% if item.elastic_stack_version | list | first < '6' or item.elastic_stack_version | list | first > '8' %}
    【ERROR】当前playbook仅支持elasticsearch版本6和7。
{% else %}
{% for instance in item.hosts %}
- name: elasticsearch host {{ instance }}
  hosts: {{ instance }}
  user: root
  roles:
    - role: 000-base-000-common
      tags:
        - common

    - role: 000-base-001-consul
      tags:
        - consul-agent
      vars:
        consul_template_role: True
        consul_agent_role: True
        consul_agent_items:
          services:
            - name: elasticsearch-db
              port: 9200
            - name: elasticsearch-transport
              port: 9300
            - name: consul-agent
              port: 8500

    - role: 000-base-002-zabbix
      tags:
        - zabbix-agent

    - role: 000-base-003-puppet
      tags:
        - puppet-agent

    - role: 001-infr-002-elastic
      tags:
        - elastic
      vars:
        - elastic_stack_version: {{ item.elastic_stack_version }}
        - elasticsearch: true
        - cluster_name: {{ item.cluster_name }}
        - node_name: {{ instance }}
        - cluster_hosts: [{{ elasticsearch_hosts_str }}]
        - minimum_cluster_nodes: {{ elasticsearch_minimum_master_nodes }}


{% endfor %}
{% endif %}