{% set domain_name = item %}
$TTL 600
@       IN  SOA dns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}


foreman             IN      A       192.168.2.253
nfs                 IN      A       192.168.2.253
jenkins             IN      A       192.168.2.253
registry            IN      A       192.168.2.253

; pfsense为NAT服务器
pfsense             IN      A       192.168.2.249

; vcenter为管理服务器地址
vcenter             IN      A       192.168.2.248


; 192.168.1.250/192.168.2.250为haproxy服务器，进行四层及七层代理。
; 将虚拟机/k8s里的服务都通过这台主机进行转发。
haproxy             IN      A       192.168.2.250

; harbor从k8s集群中剥离出来，用于在创建k8s集群前准备的docker仓库，主机名为harbor.freedom.org。
; harbor-k8s则部署在k8s集群中，这个是用于在rancher里做CICD的功能。
; 加-k8s的后缀主要是用于https证书，其泛解析为*.freedom.org。
harbor              IN      A       192.168.2.247
harbor-k8s          IN      A       192.168.2.250
rancher             IN      A       192.168.2.250
zabbix              IN      A       192.168.2.250
kibana              IN      A       192.168.2.250