{% set domain_name = item.domain_name %}
$TTL 1D
@       IN      SOA     {{ domain_name }}.     feedback.{{ domain_name }}. (
                        {{ SN }}       ; serial
                        1D      ; refresh
                        1H      ; retry
                        1W      ; expire
                        3H )    ; minimum
        IN      NS      ns01.{{ domain_name }}.
        IN      NS      ns02.{{ domain_name }}.

{{ foreman_ip }}     IN      PTR     foreman.{{ domain_name }}.