{% set domain_name = item %}
$TTL 600
@       IN  SOA ns01.{{ domain_name }}. feedback.{{ domain_name }}. (
        {{ SN }}  ; serial
        1D          ; refresh
        1H          ; retry
        1W          ; expire
        3H )        ; minimum

        NS  ns01.{{ domain_name }}.
        NS  ns02.{{ domain_name }}.
ns01    A   {{ bind_master_ip }}
ns02    A   {{ bind_slave_ip }}

node01              IN      A       192.168.2.133
node02              IN      A       192.168.2.134
node03              IN      A       192.168.2.135
node04              IN      A       192.168.2.136
node05              IN      A       192.168.2.137
node06              IN      A       192.168.2.138
node07              IN      A       192.168.2.139
node08              IN      A       192.168.2.140