<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
        - you may not use this file except in compliance with the License. - You
        may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0
        - - Unless required by applicable law or agreed to in writing, software -
        distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT
        WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the
        License for the specific language governing permissions and - limitations
        under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
        <system>
        <property name="defaultSqlParser">druidparser</property>
        <property name="serverPort">8066</property>
        <property name="managerPort">9066</property>
        <property name="sequenceHandlerType">1</property>
        <property name="useGlobleTableCheck">0</property>               <!-- 1为开启全加班一致性检测、0为关闭 -->
        <property name="useOffHeapForMerge">0</property>                <!-- 0为关闭堆外处理-->
        <property name="useSqlStat">0</property>                        <!-- 1为开启实时统计、0为关闭 -->
        <property name="subqueryRelationshipCheck">false</property>     <!-- 子查询中存在关联查询的情况下,检查关联字段中是否有分片字段 .默认 false -->
        <property name="processors">8</property>
        <property name="processorExecutor">32</property>
                <property name="useZKSwitch">true</property>
        </system>

        <user name="{{ drill_customer_member_user }}" defaultAccount="true">
                <property name="password">{{ drill_customer_member_password }}</property>
                <property name="schemas">member</property>
        </user>
</mycat:server>