{% set redis_shake_conf_file = item.conf_file %}
[Unit]
Description=The Redis Shake Process Manager
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory={{ redis_shake_dir }}
ExecStart={{ redis_shake_dir }}/redis-shake-{{ redis_shake_ver }}.linux -conf={{ redis_shake_conf_file }} -type=sync

[Install]
WantedBy=multi-user.target