consul {
    # 当consul-server部署在虚拟机中时使用此方式，官方推荐使用本地接口。
    # 如果在容器模式下使用此配置时，consul-template会读取到consul-server的容器地址，而虚拟机是无法与容器的PODIP通信，所以就无法
    # 正常工作，所以解决方法是，本地打通到容器PODIP的路由即可。
    address = "127.0.0.1:8500"

    retry {
        enabled = true
        attempts = 12
        backoff = "250ms"
        max_backoff = "1m"
    }
}

wait {
    min = "30s"
    max = "120s"
}
