consul {
    # 官方推荐使用本地接口。
    address = "127.0.0.1:8500"
    retry {
        enabled = true
        attempts = 12
        backoff = "250ms"
        max_backoff = "1m"
    }
}

wait {
    min = "30s"
    max = "120s"
}
