{
    "start_join": [
{% for item in consul_servers %}
    {%- if loop.last %}
       "{{ item }}"
    {% else %} 
       "{{ item }}",
    {% endif %}
{% endfor %}
    ],
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_agent_data_dir }}",
{% if consul_agent_ipaddr is defined %}
    "bind_addr": "{{ consul_agent_ipaddr }}",
{% else %}
    "bind_addr": "{{ ansible_default_ipv4.address }}",
{% endif %}
    "client_addr": "0.0.0.0",
    "leave_on_terminate": true,
    "rejoin_after_leave": true,
{% if consul_agent_items.checks is defined %}
    "enable_script_checks": true,
    "enable_local_script_checks": true,
    "checks": [
    {% for item in consul_agent_items.checks %}
        {
            "name": "{{item.name}}",
            "service_id": "udf-check-service",
            "args": ["{{ consul_agent_script_dir }}/{{ item.script_name }}"],
            "interval": "10s",
            "timeout": "1s"
        {%- if loop.last %} 
        } 
        {% else %} 
        }, 
        {% endif %}
    {% endfor %}
    ],
{% endif %}
    "services": [
{% for item in consul_agent_items.services %}
        {
            "name": "{{ item.name }}",
            "port": {{ item.port }},
            "tags": [
    {% if loop.first %}
                "main-service"
    {% else %}
                "{{ item.name }}"
    {% endif %}
            ]
        },
{% endfor %}
        {
            "name": "udf-check-service"
        }
    ]
}
