// named.rfc1912.zones:
//
// Provided by Red Hat caching-nameserver package
//
// ISC BIND named zone configuration for zones recommended by
// RFC 1912 section 4.1 : localhost TLDs and address zones
// and http://www.ietf.org/internet-drafts/draft-ietf-dnsop-default-local-zones-02.txt
// (c)2007 R W Franks
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

zone "localhost.localdomain" IN {
        type master;
        file "named.localhost";
        allow-update { none; };
};

zone "localhost" IN {
        type master;
        file "named.localhost";
        allow-update { none; };
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" IN {
        type master;
        file "named.loopback";
        allow-update { none; };
};

zone "1.0.0.127.in-addr.arpa" IN {
        type master;
        file "named.loopback";
        allow-update { none; };
};

zone "0.in-addr.arpa" IN {
        type master;
        file "named.empty";
        allow-update { none; };
};

{% for zone in bind_zones %}
zone "{{ zone }}" IN {
    type slave;
    masters { {{ bind_master_ip }}; };
    file "slaves/{{ zone }}.zone";
};

{% endfor %}

{% for zone in bind_rev_zones %}
zone "{{ zone.ip }}.in-addr.arpa" IN {
    type slave;
    masters { {{ bind_master_ip }}; };
    file "slaves/{{ zone.domain_name }}.rev.zone";
};

{% endfor %}


{% for zone in k8s_coredns_zones %}
zone "{{ zone }}" IN {
    type forward;
    forwarders { {% for server in k8s_coredns_servers %} {{ server }}; {% endfor %} };
};

{% endfor %}